---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |- {{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

~> **Role Requirement** To use the `taikun_app_instance` resource, you need a Manager or Partner account.

-> **Organization ID** `organization_id` cannot be specified. It defaults to the user's organization.

## Persistent volume claims are left in cluster
To preserve user data, we don't destroy the PVCs created by applications. This is expected behavior.
If you create and destroy an app with Terraform with the same configuration, the app can fail because of binding to the old PVC.

## Example Usage

{{tffile "examples/resources/taikun_app_instance/resource.tf"}}

Take a look at the **quickstart template** that deploys a new k8s cluster, a catalog and an app instance - available in the [quickstart examples](https://github.com/itera-io/terraform-provider-taikun/tree/dev/examples/quickstart-templates) folder.

If you change the application parameters, TF will automatically trigger the synch of the app instance (even if you do not have autosynch).

{{ .SchemaMarkdown | trimspace }}
