---
page_title: "{{.Type}} {{.Name}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Type}} ({{.Name}})

{{ .Description | trimspace }}

~> **Role Requirement** In order to use the `taikun_cloud_credential_openstack` resource you need at least a `Manager`
account

!> **Import Network** If you choose to import network, DNS in profile created in Access Profiles will be IGNORED.

~> **Import Network** If you choose to import network, a router between the public network and the internal network must
already exist. There should be internal access on the internal network, either from the router or directly.

-> **Organization ID** `organization_id` can be specified for Partner and Admin roles, otherwise defaults to the user's
organization.

## Example Usage

{{tffile "examples/resources/taikun_cloud_credential_openstack/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}
