---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |- {{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

~> **Role Requirement** To use the `taikun_project` resource, you need a Manager or Partner account.

-> **Organization ID** `organization_id` can be specified for the Partner role, it otherwise defaults to the user's organization. If specified, the project's cloud credential must be in the same organization.

## Current limitations of the `vm` and `disk` blocks.

!> **Standalone VMs** Reordering `vm` blocks is not yet supported.
Adding a `vm` block to a `taikun_project` resource is only supported if it is added
below the preexisting `vm` blocks in the `taikun_project` resource.
If you insert a `vm` block at the beginning or somewhere in the middle of a list of
`vm` blocks, the VMs declared in the blocks that follow will be recreated!
Deletion of `vm` blocks is also only supported for trailing blocks.
If you delete a `vm` block at the beginning or somewhere in the middle of a list of
`vm` blocks, the VMs declared in the blocks that follow will be recreated!

!> **Standalone VM disks** Reordering `disk` blocks is not yet supported.
Adding a `disk` block to a `vm` block is only supported if it is added
below the preexisting `disk` blocks in the `vm` block.
If you insert a `disk` block at the beginning or somewhere in the middle of a list of
`disk` blocks, the disks declared in the blocks that follow will be recreated!
Deletion of `disk` blocks is also only supported for trailing blocks.
If you delete a `disk` block at the beginning or somewhere in the middle of a list of
`disk` blocks, the disks declared in the blocks that follow will be recreated!

## Example Usage

{{tffile "examples/resources/taikun_project/resource.tf"}}

Take a look at the **quickstart templates** that deploy a project with a k8s cluster or VM - available in the [quickstart examples](https://github.com/itera-io/terraform-provider-taikun/tree/dev/examples/quickstart-templates) folder.

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{codefile "shell" "examples/resources/taikun_project/import.sh"}}
