---
page_title: "{{.Type}} {{.Name}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Type}} ({{.Name}})

{{ .Description | trimspace }}

-> **Organization ID** `organization_id` can be specified for Partner and Admin roles, otherwise defaults to the user's organization.

## Example Usage

{{tffile "examples/resources/taikun_showback_credential/resource.tf"}}

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

{{codefile "shell" "examples/resources/taikun_showback_credential/import.sh"}}
