---
page_title: "Taikun Provider"
description: |- The Taikun provider provides resources to interact with the Taikun API.
---

# Taikun Provider

The Taikun provider provides resources to interact with the Taikun API.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}
