---
page_title: "Taikun Provider"
description: |- The Taikun provider provides resources to interact with the Taikun API.
---

# Taikun Provider

With the Taikun provider, you can use Terraform to manage resources in [Taikun](https://taikun.cloud).

Use the navigation to the left to learn about the available resources and data sources.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}
