---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |- {{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

~> **Role Requirement** To use the `taikun_cloud_credentials_openstack` data source, you need a Manager or Partner account.

-> **Organization ID** `organization_id` can be specified for the Partner role, it otherwise defaults to the user's organization.

## Example Usage

{{tffile "examples/data-sources/taikun_cloud_credentials_openstack/data-source.tf"}}

{{ .SchemaMarkdown | trimspace }}


