---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |- {{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

~> **Role Requirement** To use the `taikun_images_zadara` data source, you need a Manager or Partner account.

## Example Usage

{{tffile "examples/data-sources/taikun_images_zadara/data-source.tf"}}

{{ .SchemaMarkdown | trimspace }}


