---
page_title: "{{.Type}} {{.Name}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Type}} ({{.Name}})

{{ .Description | trimspace }}

-> **Organization ID** `organization_id` can be specified for Partner and Admin roles, otherwise defaults to the user's
organization.

## Example Usage

{{tffile "examples/data-sources/taikun_kubernetes_profiles/data-source.tf"}}

{{ .SchemaMarkdown | trimspace }}


