---
page_title: "{{.Type}} {{.Name}} - {{.ProviderName}}"
subcategory: ""
description: |- {{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Type}} ({{.Name}})

{{ .Description | trimspace }}

~> **Role Requirement** To use the `taikun_organizations` data source, you need a Partner account.

## Example Usage

{{tffile "examples/data-sources/taikun_organizations/data-source.tf"}}

{{ .SchemaMarkdown | trimspace }}


