---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |- {{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

~> **Role Requirement** To use the `taikun_organization` data source with the `id` attribute set, you need a Partner account.

## Example Usage

{{tffile "examples/data-sources/taikun_organization/data-source.tf"}}

{{ .SchemaMarkdown | trimspace }}


