---
page_title: "{{.Type}} {{.Name}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Type}} ({{.Name}})

{{ .Description | trimspace }}

~> **Role Requirement** In order to use the `taikun_users` data source you need at least a `Manager` account

## Example Usage

{{tffile "examples/data-sources/taikun_users/data-source.tf"}}

{{ .SchemaMarkdown | trimspace }}


