name: Sweep
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"
concurrency: sweep

jobs:
  test:
    name: Sweep
    runs-on: self-hosted
    timeout-minutes: 10
    steps:

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: '1.17'

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Get dependencies
        run: |
          go mod download

      - name: TF sweepers
        timeout-minutes: 5
        env:
          TF_ACC: "1"
          TF_ACC_TERRAFORM_VERSION: "1.0.10"

          TAIKUN_EMAIL: ${{ secrets.TAIKUN_EMAIL }}
          TAIKUN_PASSWORD: ${{ secrets.TAIKUN_PASSWORD }}

        run: |
          go test -v ./taikun -sweep=1