name: Tests
on:
  pull_request:
  push:
    branches:
      - 'main'
    paths-ignore:
      - 'README.md'
      - 'docs/**'
      - 'examples/**'
      - 'templates/**'

jobs:
  build:
    name: Build
    runs-on: self-hosted
    timeout-minutes: 5
    steps:

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: '1.17'

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Get dependencies
        run: |
          go mod download

      - name: Build
        run: |
          go build -v .

  golangci:
    name: Lint
    runs-on: self-hosted
    needs: build
    timeout-minutes: 5
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Lint (golangci-lint)
        uses: golangci/golangci-lint-action@v2
        with:
          version: latest

  test:
    name: Acceptance Tests
    needs: build
    runs-on: self-hosted
    timeout-minutes: 70
    concurrency: test-acc
    steps:

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: '1.17'

      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Get dependencies
        run: |
          go mod download

      - name: TF acceptance tests
        env:
          TF_ACC: "1"
          TF_ACC_TERRAFORM_VERSION: "1.0.10"

          TAIKUN_EMAIL: ${{ secrets.TAIKUN_EMAIL }}
          TAIKUN_PASSWORD: ${{ secrets.TAIKUN_PASSWORD }}

          PROMETHEUS_PASSWORD: ${{ secrets.PROMETHEUS_PASSWORD }}
          PROMETHEUS_URL: ${{ secrets.PROMETHEUS_URL }}
          PROMETHEUS_USERNAME: ${{ secrets.PROMETHEUS_USERNAME }}

          OS_USERNAME: ${{ secrets.OS_USERNAME }}
          OS_AUTH_URL: ${{ secrets.OS_AUTH_URL }}
          OS_REGION_NAME: ${{ secrets.OS_REGION_NAME }}
          OS_INTERFACE: ${{ secrets.OS_INTERFACE }}
          OS_PROJECT_NAME: ${{ secrets.OS_PROJECT_NAME }}
          OS_PASSWORD: ${{ secrets.OS_PASSWORD }}
          OS_USER_DOMAIN_NAME: ${{ secrets.OS_USER_DOMAIN_NAME }}

          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: eu-central-1
          AWS_AVAILABILITY_ZONE: a

          ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}
          ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
          ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}
          ARM_CLIENT_SECRET: ${{ secrets.ARM_CLIENT_SECRET }}
          ARM_AVAILABILITY_ZONE: 1
          ARM_LOCATION: northeurope

          S3_REGION: eu-west-2
          S3_ENDPOINT: https://s3.eu-west-2.amazonaws.com

        run: |
          go test -v -timeout 0 -cover ./taikun
